SERVICE_ENVIRONMENT=dev

## Database
SERVICE_DB_DRIVER=mysql
SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3307
SERVICE_DB_DATABASE=vessel-management
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=root
SERVICE_DB_QUERYSTRING=parseTime=true
SERVICE_DB_MAXLIFETIME=4
SERVICE_DB_MAXIDLETIME=5
SERVICE_DB_MAXIDLECONNS=5
SERVICE_DB_MAXOPENCONNS=7

## KAFKA
SERVICE_KAFKA_CLIENT_ID=vessel-management
SERVICE_KAFKA_BROKERS=localhost:9092
