SERVICE_ENVIRONMENT=dev

## Service host
SERVICE_GATEWAY_HOST=0.0.0.0:8080

## Database
SERVICE_DB_DRIVER=mysql
SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3306
SERVICE_DB_DATABASE=vessel_management
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=root
SERVICE_DB_QUERYSTRING=parseTime=true

## core database must same with SERVICE_DB_DATABASE
CORE_DATABASE_NAME=vessel_management
