SERVICE_ENVIRONMENT=dev

## Service host
SERVICE_RPC_HOST=0.0.0.0:1234
SERVICE_GATEWAY_HOST=0.0.0.0:2345
SERVICE_ALLOWED_CREDENTIAL_ORIGINS=*.employeebenefit.com

## Database
SERVICE_DB_DRIVER=mysql
SERVICE_DB_HOST=127.0.0.1
SERVICE_DB_PORT=3307
SERVICE_DB_DATABASE=employee_benefit
SERVICE_DB_USERNAME=root
SERVICE_DB_PASSWORD=root
SERVICE_DB_QUERYSTRING=parseTime=true
SERVICE_DB_MAXLIFETIME=4
SERVICE_DB_MAXIDLETIME=5
SERVICE_DB_MAXIDLECONNS=5
SERVICE_DB_MAXOPENCONNS=7

## Storage
SERVICE_STORAGE_PROJECT_ID=
SERVICE_STORAGE_BUCKET=

## Sentry
SERVICE_SENTRY_DSN=http://4370ad5b9fe243498b624bc80dfef39f@localhost:9000/1
SERVICE_SENTRY_TRACES_SAMPLE_RATE=1.0

## Datadog
SERVICE_DATADOG_HOST=localhost:8125
SERVICE_DATADOG_NAMESPACE=auth-domain-user-service
SERVICE_DATADOG_MAX_MESSAGE_PER_PAYLOAD=16

## Cache
SERVICE_CACHE_HOST=localhost:6379
SERVICE_CACHE_PASSWORD=

## Assuming that we use RS256 algorithm for JWT Token
RSA_PUBLIC_KEY=

## For handle auth employer and client microservice
SERVICE_OAUTH_EMPLOYER_INTROSPECTION_PATH=http://127.0.0.1:4445/oauth2/introspect
SERVICE_OAUTH_EMPLOYER_TOKEN_PATH=http://127.0.0.1:4444/oauth2/token
SERVICE_OAUTH_EMPLOYER_CLIENT_ID=client-id
SERVICE_OAUTH_EMPLOYER_CLIENT_SECRET=client-secret
SERVICE_OAUTH_EMPLOYER_AUDIENCE=http://127.0.0.1:3456
SERVICE_OAUTH_EMPLOYER_ISSUER=http://127.0.0.1:4444/
SERVICE_OAUTH_EMPLOYER_SCOPES=authentication.*.* *.*.* core.*.* advancedsalary.*.* earlysalary.*.*
SERVICE_OAUTH_EMPLOYER_PREFIX_CACHE_KEY=employer
SERVICE_OAUTH_EMPLOYER_ACCESS_TOKEN_COOKIE_KEY=dev.access_token
SERVICE_OAUTH_EMPLOYER_PUBLIC_KEY_PATH=./dev/public_keys/employer
SERVICE_OAUTH_EMPLOYER_KEY_ID_PREFIX=public:

## For handle auth employee
SERVICE_OAUTH_EMPLOYEE_INTROSPECTION_PATH=http://127.0.0.1:4445/oauth2/introspect
SERVICE_OAUTH_EMPLOYEE_TOKEN_PATH=http://127.0.0.1:4444/oauth2/token
SERVICE_OAUTH_EMPLOYEE_CLIENT_ID=client-id
SERVICE_OAUTH_EMPLOYEE_CLIENT_SECRET=client-secret
SERVICE_OAUTH_EMPLOYEE_AUDIENCE=http://127.0.0.1:3456
SERVICE_OAUTH_EMPLOYEE_ISSUER=http://127.0.0.1:4444/
SERVICE_OAUTH_EMPLOYEE_SCOPES=authentication.*.* *.*.* core.*.* advancedsalary.*.* earlysalary.*.*
SERVICE_OAUTH_EMPLOYEE_PREFIX_CACHE_KEY=employee
SERVICE_OAUTH_EMPLOYEE_ACCESS_TOKEN_COOKIE_KEY=dev.access_token
SERVICE_OAUTH_EMPLOYEE_PUBLIC_KEY_PATH=./dev/public_keys/employee
SERVICE_OAUTH_EMPLOYEE_KEY_ID_PREFIX=public:

## KAFKA
SERVICE_KAFKA_CLIENT_ID=employee-benefit
SERVICE_KAFKA_BROKERS=localhost:9092

## REUSEABLE_DOMAIN
SERVICE_AUTH_DOMAIN_HOST=ebenefit-employer-auth.dev.jktnv.buka20-internal.com:443
SERVICE_AUTH_DOMAIN_EMPLOYEE_HOST=ebenefit-employee-auth.dev.jktnv.buka20-internal.com:443

## DATABASE
## core database must same with SERVICE_DB_DATABASE
CORE_DATABASE_NAME=employee_benefit
## need improve later for changes below database name
ADVANCE_SALARY_DATABASE_NAME=db_advance_salary
EARLY_SALARY_DATABASE_NAME=db_early_salary
